{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <h2>Create Task</h2>
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="custom-input">
                    <label class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <button type="submit" value="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

{% endblock %}
