{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card mb-2">
            <div class="card-body">
                <a href="{% url 'reminder-create' %}" type="button" class="btn btn-primary">Create</a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Reminder Time</th>
                    <th>Is Notified</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reminder in object_list %}
                <tr>
                    <td>{{ reminder.id }}</td>
                    <td>{{ reminder.title }}</td>
                    <td>{{ reminder.reminder_time|date:'Y-m-d H:i' }}</td>
                    <td>{{ reminder.is_notified|yesno:"Yes,No,None" }}</td>
                    <td>{{ reminder.created_at|date:'Y-m-d H:i' }}</td>
                    <td>
                        <a href="{% url 'reminder-details' reminder.id %}" type="button" class="btn btn-primary">View</a>
                        <a href="{% url 'reminder-update' reminder.id %}" type="button" class="btn btn-primary">Update</a>
                        <a href="{% url 'reminder-delete' reminder.id %}" type="button" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
